<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <br>
    <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{url_for('main_page')}}">Головна сторінка</a></li>
      {% if current_user.is_authenticated %}
         <li class="list-inline-item"><a href="{{url_for('user_page')}}">Особистий кабінет</a></li>
         <li class="list-inline-item"><a href="{{url_for('profile_page')}}">Реєстрацйні дані</a></li>
         <li class="list-inline-item"><a href="{{url_for('logout_page')}}">Вийти з кабінету</a></li>
      {% else %}
         <li class="list-inline-item"><a href="{{url_for('login_page')}}">Сторінка авторизації</a></li>
        <li class="list-inline-item"><a href="{{url_for('new_user_page')}}">Зареєструватись</a></li>
      {% endif %}
      <li class="list-inline-item"><a href="{{url_for('contacts_page')}}">Контакти</a></li>
    </ul>
    </div>
    {% block body %}{% endblock %}
</body>
</html>

