{% extends 'main.html'  %}

{% block title  %}
     {{ title }}
{% endblock %}

{% block body  %}

<body class="py-4">

    <div class="container">
     <ul class="list-inline">
      <li class="list-inline-item"><a href="{{url_for('main_page')}}">Головна сторінка</a></li>
      {% if not current_user.is_authenticated %}
        <li class="list-inline-item"><a href="{{url_for('login_page')}}">Сторінка авторизації</a></li>
      {% endif %}
      <li class="list-inline-item"><a href="{{url_for('contacts_page')}}">Контакти</a></li>
      <li class="list-inline-item"><a href="{{url_for('logout_page')}}">Вийти з кабінету</a></li>
       <li class="list-inline-item"><a href="{{url_for('profile_page')}}">Особисті данні</a></li>
    </ul>

  <h1>{{ title }}</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li><h3>{{ message }}</h3></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    <ul>
        <li class="list-inline-item"><a href="{{url_for('user_list')}}">Дані по обраним цінним паперам</a></li>
    </ul>

  <h2 class="mt-4">Перелік акцій</h2>
  <p></p>

		<table class="table table thead-light th">
			<thead>
				<tr bgcolor="#007bff" style="color:#fff">

                   {% for key in stocks[0].keys() %}
                        {% if key == "symbol" %}
                            <th>Символ паперу</th>
                        {% elif key == "exch" %}
                            <th>Біржа</th>
                        {% elif key == "type" %}
                            <th>Тип паперу</th>
                        {% elif key == "description" %}
                            <th>Емітент цінних паперів</th>
                        {% elif key == "bid" %}
                            <th>Ціна по який придбано атив</th>
                        {% elif key == "ask" %}
                            <th>Ціна можливого продажу</th>
                        {% elif key == 'change_percentage' %}
                           <th>Зміна ціни у відсотках</th>
                        {% elif key == 'week_52_high' %}
                           <th>Найвища ціна за рік</th>
                        {% elif key == 'week_52_low' %}
                           <th>Найнижча ціна за рік</th>
                        {% elif key == 'week_52_low' %}
                           <th>Найнижча ціна за рік</th>
                        {% elif key == 'trade_date' %}
                           <th>Дата покупки (стеження)</th>
                        {% elif key == 'profit' %}
                           <th>Можливий прибуток/ збиток =</th>
                        {% elif not key in ['open', 'high', 'low', 'prevclose', 'positive_profit'] %}
                           <th>{{ key }}</th>
                        {% endif %}
					{% endfor %}
                   <th> ∑ {{ sum_profit }}</th>
				</tr>
			</thead>
			<tbody>

                {% for value in stocks %}
                    {% if value['positive_profit'] %}
                        <tr bgcolor="#1de04e" style="color:#fff">
                                {% for key, val in value.items() %}
                                    {% if key == 'bid' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'ask' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'change_percentage' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'week_52_high' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'week_52_low' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'trade_date' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'profit' %}
                                        <td>{{ val }}</td>
                                    {% elif not key in ['open', 'high', 'low', 'prevclose', 'positive_profit'] %}
                                        <td>{{ val }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td> <form id="click-green" action="{{ url_for('user_list_del') }}" method="post" ><input type="hidden" name="stock" value="{{ value }}"><button formmethod="post" class="btn btn-primary"  type="submit" onclick="">Продати</button></form></td>
                        </tr>
                    {% else %}
                         <tr bgcolor="#ff8080" style="color:#fff">
                                {% for key, val in value.items() %}
                                    {% if key == 'bid' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'ask' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'change_percentage' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'week_52_high' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'week_52_low' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'trade_date' %}
                                        <td>{{ val }}</td>
                                    {% elif key == 'profit' %}
                                        <td>{{ val }}</td>
                                    {% elif not key in ['open', 'high', 'low', 'prevclose', 'positive_profit'] %}
                                        <td>{{ val }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td> <form action="{{ url_for('user_list_del') }}" method="post" id="click-red"><input type="hidden" name="stock" value="{{ value }}"><button formmethod="post" class="btn btn-primary"  type="submit" onclick="">Продати</button></form></td>
                            </tr>
                    {% endif %}
                {% endfor %}
			</tbody>
		</table>
    </div>
</body>
{% endblock %}