{% extends 'main.html'  %}

{% block title  %}
     {{ title }}
{% endblock %}

{% block body  %}

<body class="py-4">

    <div class="container">
     <ul class="list-inline">
      <li class="list-inline-item"><a href="{{url_for('main_page')}}">Головна сторінка</a></li>
      {% if not current_user.is_authenticated %}
        <li class="list-inline-item"><a href="{{url_for('login_page')}}">Сторінка авторизації</a></li>
      {% endif %}
      <li class="list-inline-item"><a href="{{url_for('contacts_page')}}">Контакти</a></li>
      <li class="list-inline-item"><a href="{{url_for('logout_page')}}">Вийти з кабінету</a></li>
       <li class="list-inline-item"><a href="{{url_for('profile_page')}}">Особисті данні</a></li>
    </ul>

  <h1>{{ title }}</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li><h3>{{ message }}</h3></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    <ul>
        <li class="list-inline-item"><a href="{{url_for('contacts_page')}}">Дані по обраним цінним паперам</a></li>
    </ul>



  <h2 class="mt-4">Перелік акцій</h2>
  <p></p>

		<table class="table">
			<thead>
				<tr>
					<th>
                    <input type="checkbox" value="remember-me" name="remember">
                    </th>
                   {% for key in user_stocks.keys() %}
                        {% if key == 'quote' %}
					        <th>Остання ціна закриття</th>
                            <th>Ціна відкриття</th>
                            <th>Найвища ціна</th>
                            <th>Найнижча ціна</th>
                            <th>Ціна закриття</th>
                            <th>Зміна у відсотках</th>
                        {% elif key == "symbol" %}
                            <th>Символ паперу</th>
                        {% elif key == "exchange" %}
                            <th>Біржа</th>
                        {% elif key == "type" %}
                            <th>Тип паперу</th>
                        {% elif key == "description" %}
                            <th>Емітент цінних паперів</th>
                        {% else %}
                           <th>{{ key }}</th>
                        {% endif %}
					{% endfor %}
                   <th>
                    <button  formmethod="post" class="btn" type="submit">Стежити</button>
                    </th>
				</tr>
			</thead>
			<tbody>

                {% for value in stocks %}

				<tr>
                        <td><input type="checkbox" value="{{ value['symbol'] }}" name="{{ value['symbol'] }}"></td>
                        {% for key, val in value.items() %}
                            {% if key == 'quote' %}
                                {% for key, symbol in val.items() %}
                                    {% if key == 'last' %}
                                        <td>{{ symbol }}</td>
                                    {% elif key == 'open' %}
                                        <td>{{ symbol }}</td>
                                    {% elif key == 'high' %}
                                        <td>{{ symbol }}</td>
                                    {% elif key == 'low' %}
                                        <td>{{ symbol }}</td>
                                    {% elif key == 'close' %}
                                        <td>{{ symbol }}</td>
                                    {% elif key == 'change_percentage' %}
                                        <td>{{ symbol }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>{{ val }}</td>
                            {% endif %}
                        {% endfor %}
                       <td> <form action="{{ url_for('user_list') }}" method="post" ><button formmethod="post" class="btn btn-primary" value="{{ value['symbol'] }}" type="submit">Стежити</button></form></td>
				</tr>
                {% endfor %}


			</tbody>
		</table>
    </div>
</body>
<h1> {{ title }} </h1>
{% endblock %}